<h1>Hello Problem#edit</h1>

<div class="center">
<%= form_tag(problem_path, :method => "put") do %>
    <p><%=label_tag(:name, "Problem name:")%>
	<%= text_field_tag(:name, @cur_problem.name)%></p>
    
    <p><%= label_tag(:description, "Problem description: ")%>
	<%= text_area_tag(:description, @cur_problem.description)%></p>
    <%= submit_tag("Update", :class => "btn btn-primary")%>
<% end %>
</div>

