
<div class="container">
    <div class="page-header">
	<h2>Problem Index</h2>
    </div>

<!-- Options panel -->
    <a class="btn btn-default options-button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
	Options
    </a>

    <div class="collapse" id="collapse">
	<div class="well">

	</div>
    </div>
<!-- problem table -->
    <table class="table table-striped table-bordered">
	<% @problems.each_with_index do |problem, i| %>
	<tr>	 
	    <td>
		<%= i %>
	    </td>
	    <td>
		<%= link_to problem_path(problem), method: :get do %>
		    <%= problem.name %> 
		<% end %>
	    </td>
	    <td>
		<%= problem.description %> 
	    </td>
		<!--This needs to be fixed. -->
		<% if admin? %>
		    <td>
			<%= link_to "Edit", edit_problem_path(problem), :class => "btn btn-info btn-sm", method: :get %>
		    </td>
		    <td>
			<%= link_to "Delete", problem_path(problem), :class => "btn btn-danger btn-sm",  method: :delete, data:{ :confirm => 'Are you sure?'} %>
		    </td>
		    <!-- Also want to allow admin to destroy -->
		<% end %>
	    
	
	
    <% end %>
	</tr>
	</table>
	
	
	<% if admin? %>
	    <%= link_to new_problem_path, :class => "btn btn-default btn-block" do %>
		New
	    <% end %>
	<% end %>
	
</div>    
