<h1>Look at all the awesome problems we have</h1>
<div class="container">
    <% @problems.each do |problem| %>
	
	<div class="row">
	    <div class="col-sm-6">
		<%= link_to problem_path(problem), method: :get do %>
		    <%= problem.name %> 
		<% end %>
	    </div>
	    <div class="col-sm-6">
		<%= problem.description %> 
		<!--This needs to be fixed. -->
		<% if admin? %>
		    <%= link_to "edit", edit_problem_path(problem) %>
		    <!-- Also want to allow admin to destroy -->
		<% end %>
	    </div>
	</div>
	
    <% end %>
<!-- Is the current user an admin? -->
    
    
    <% if admin? %>
	<%= link_to new_problem_path, :class => "btn btn-default" do %>
	    New
	<% end %>
    <% end %>
    
</div>    
