

<div class="container">
    <div class="center">
	<div class="page-header">
	    <blockquote>
	    <h2>Write a new a problem<small>This will not appear to the user until tests have been written in at least one language, input has been written, and expected output has been written.</small></h2>
	    </blockquote>
	</div>
	<div class="problem-form">
	    <%= form_tag(problems_path, :method => "post") do%>
		<p><%= label_tag(:name, "Problem name:")%>
		    <%= text_field_tag(:name, "", :class => "form-control problem-name")%></p>
		
		<p><%= label_tag(:description, "Problem description: ")%>
		    <textarea id="description" name="description" class="form-control problem-description" rows="14"></textarea>

		</p>
	
		<%= submit_tag("Create", :class => "btn btn-primary")%>


	    <% end %>
	</div>
    </div>
</div>
