

<div class="jumbotron">

    <div class="container">
    <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    <span id="language-name-button"><%= @cur_language.name.capitalize%></span>
	    <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <% @languages.each do |language| %>
		<li role="presentation">
		     <a class="language_button" role="menuitem" tabindex="-1" language="<%= language.name%>">
		 <%= language.name.capitalize %>
		     </a>
		</li>
	    <% end %>


	</ul>
    </div>
    </div>
    <h1> <%= @problem.name%></h1>
    <h2><%= @problem.description%></h2>
    <div id="editor">

    </div>

    <%= form_tag(submission_path, :method => "post") do %>
	<%= text_area_tag "textarea", :text %>
	<%= hidden_field_tag(:problem_id, params[:id])%>
	<%= hidden_field_tag(:language, @cur_language.name)%>
	<%= submit_tag("Submit", :class => "btn btn-primary #{@should_enable}", :id => "submit_button")%>
    <% end  %>
    
   <div id="result">
       
   </div>

   <%@tests.each do |t| %>
       <input id="<%=t.language.name%>-starter-code" type="hidden" value="<%=t.starter_code%>">
   <% end %>
   
   <% if admin? %>
       <%= link_to new_test_path(:problem_id => params[:id]), :class => "btn btn-default", method: :get do %>
	New Test
       <% end %>
   <% end %>
   
</div>
