

<div class="jumbotron">
    <h1> <%= @problem.name%></h1>
    <h2>    <%= @problem.description%></h2>
    <div id="editor">

    </div>


    <%= form_tag(evaluate_path, :method => "post") do %>
	<%= text_area_tag "textarea", :text %>
	<%= submit_tag("Submit", :class => "btn btn-primary #{@should_enable}", :id => "submit_button")%>
    <% end  %>
    
   <div id ="result">

   </div>

    

  
</div>
