

<div class="jumbotron">

    <div class="container">
    <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    Languages
	    <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <% @languages.each do |language| %>
		<li role="presentation">
		    <a class="dropdownMenuItem" role="menuitem" tabindex="-1">
			<%= language.name.capitalize %>
		    </a>
		</li>
	    <% end %>


	</ul>
    </div>
    </div>
    <h1> <%= @problem.name%></h1>
    <h2>    <%= @problem.description%></h2>
    <div id="editor">

    </div>


    <%= form_tag(new_submission_path, :method => "post") do %>
	<%= text_area_tag "textarea", :text %>
	<%= submit_tag("Submit", :class => "btn btn-primary #{@should_enable}", :id => "submit_button")%>
    <% end  %>
    
   <div id="result">

   </div>

    

  
</div>
