


<div class="center">
    <div class="container">
	<blockquote>
	    <h2><%= @problem.name %></h2>
	    <h4><%= @problem.description %></h4>
	   
	    <%= link_to "Previous Submissions", submissions_path(:id => @problem.id), :class => "button-small pure-button" %>
	</blockquote>

	<div class="sample-input-and-output">
	   
	    <div class="sample-input">
		<h5>Sample Input</h5>	
		    <pre class="sample-text">
<%=@sample_input%>
		    </pre>
	    </div>

	    <div class="sample-output">
		<h5>Sample Output</h5>
		    <pre class="sample-text">
<%=@sample_output%>
		    </pre>
		
	    </div>
	</div>
    

   
    <% if admin? %>
<!-- Admin controls -->
	<a href="#collapse" class="btn btn-danger" data-toggle="collapse" aria-expanded="false" aria-controls="#collapse">
	    Admin Options
	</a>

	<div class="collapse" id="collapse">
	    <div class="well">
		<div class="row">
	    <div class="col-md-6">
		<%= link_to find_test_path(:problem_id => params[:id], :language_name => @cur_language.name), :class => "btn btn-default", :id => "edit-test-button", method: :get do %>
		    Edit Test
		<% end %>
	    </div>
    <% end %>
    <div class="col-md-6">
    </div>
	    </div>
	</div>
	</div>
<!-- Language dropdown menu -->
    <div class="problem-controls">
	<select id="language-selector" class="form-control">
	    <% @languages.each do |language| %>
		<option> <%= language.name.capitalize %> </option>
	    <% end %>
	</select>
    </div>
</div>
</div>


<div class="jumbotron">   
    <div id="editor">
	    
    </div>
    
    <blockquote class="submit-form">
    <%= form_tag(submission_path, :method => "post") do %>
	<%= text_area_tag "textarea", :text %>
	<%= hidden_field_tag(:problem_id, params[:id])%>
	<%= hidden_field_tag(:language, @cur_language.name)%>
	<%= submit_tag("Submit", :class => "btn btn-primary #{@should_enable} btn-block", :id => "submit_button")%>
    <% end  %>
    
    <div id="result">
	
    </div>
    </blockquote>
    <div class="starter-code">
    <% @tests.each do |t| %>
       <input id="<%=t.language.name%>-starter-code" type="hidden" value="<%=t.starter_code%>">
   <% end %>
    </div>

    <div class="running-code">
	<% @tests.each do |t| %>
	    <% if t.language.name != @cur_language.name %>
		<input id="<%=t.language.name%>-running-code" type="hidden" value="<%=t.starter_code%>">

		<% else %>
		<input id="<%= @cur_language.name%>-running-code" type="hidden" value="<%=@beginning_code%>">
	    <% end %>
	<% end %>
    </div>


</div>
