


<div class="center">
    <div class="container">
	<blockquote>
	    <h2> <%= @problem.name %></h2>
	    <h4><%= @problem.description %></h4>
	    <a href="#" class="pure-button">Previous Submissions</a>
	</blockquote>
    </div>
    
    <div class="problem-controls">
	<select id="language-selector" class="form-control">
	    <% @languages.each do |language| %>
		<option> <%= language.name.capitalize %></option>
	    <% end %>
	</select>
    </div>
</div>
<div class="jumbotron">   
    <div id="editor">
	    
    </div>
    
    <%= form_tag(submission_path, :method => "post") do %>
	<%= text_area_tag "textarea", :text %>
	<%= hidden_field_tag(:problem_id, params[:id])%>
	<%= hidden_field_tag(:language, @cur_language.name)%>
	<%= submit_tag("Submit", :class => "btn btn-primary #{@should_enable}", :id => "submit_button")%>
    <% end  %>
    
    <div id="result">
	
    </div>
    
    <div class="starter-code">
    <% @tests.each do |t| %>
       <input id="<%=t.language.name%>-starter-code" type="hidden" value="<%=t.starter_code%>">
   <% end %>
    </div>

    <div class="running-code">
	<% @tests.each do |t| %>
	    <input id="<%=t.language.name%>-running-code" type="hidden" value="<%=t.starter_code%>">
	<% end %>
    </div>
    <% if admin? %>
       <%= link_to test_path(:problem_id => params[:id]), :class => "btn btn-default", :id => "#{@cur_language.id}", method: :get do %>
	   New Test
       <% end %>
   <% end %>
   
</div>
