<h1>Hello submission#index</h1>

<table class="table">
    
    <%@submissions.each_with_index do |submission, i| %>
	<tr>
	    <td><%= i %></td>
	    <td><%= link_to submission.problem.name, problem_path(:id => submission.problem.id, :submission_id => submission.id, :language_id => submission.language.id), :method => :get%></td>
	    <td><%=submission.language.name.capitalize %></td>
	    <td><%=submission.created_at%></td>
	    <td><%= submission%></td>
	    
	</tr>
    <% end %>
</table>




