<h1>Hello Test#Edit</h1>


<p>Write the starter code for the problem here. </p>
<div class="editor" id="starter-code-editor">
    
</div>

<p>Write the test code (if applicable) here. </p>
<div class="editor" id="test-code-editor">

</div>

<%= form_tag(test_path, :method => "put") do %>
    <%= hidden_field_tag(:problem_id, @problem.id)%>
    <%= hidden_field_tag(:language_id, @language.id)%>
    <%= hidden_field_tag(:starter_code, "")%>
    <%= hidden_field_tag(:test_code, "")%>
    <%= submit_tag("Create", :id => "submit-button", :class => "btn btn-primary")%>
<% end %>


<input id="old-starter-code" type="hidden" value="<%=@test.starter_code%>">
<input id="old-test-code" type="hidden" value="<%=@test.test_code%>">
<input id="language-name" type="hidden" value="<%=@test.language.name %>">
