<div class="container-fluid">

    <div class="page-header">
<h2>Edit test code for <%=@problem.name%><small> in <%=@language.name.capitalize%> </small></h2>
`</div>


    <div class="well well-sm">
    <blockquote>
	<p>Write the starter code for the problem here. </p></blockquote>
<div class="editor" id="starter-code-editor">
</div>
</div>

<div class="well well-sm">
<blockquote>
<p>Write the test code here. </p>


</blockquote>
<div class="editor" id="test-code-editor">

</div>
</div>

<blockquote>
<%= form_tag(test_path, :method => "put") do %>
    <%= hidden_field_tag(:problem_id, @problem.id)%>
    <%= hidden_field_tag(:language_id, @language.id)%>
    <%= hidden_field_tag(:starter_code, "")%>
    <%= hidden_field_tag(:test_code, "")%>
    <%= submit_tag("Create", :id => "submit-button", :class => "btn btn-primary btn-block")%>
<% end %>
</blockquote>

<input id="old-starter-code" type="hidden" value="<%=@test.starter_code%>">
<input id="old-test-code" type="hidden" value="<%=@test.test_code%>">
<input id="language-name" type="hidden" value="<%=@test.language.name %>">

</div>
