<h1> Hello test#index</h1>

<div class="container">
    <table class="table table-striped table-bordered">
	<thead class="table-header">
	<tr>
	    <th>ID</th>
	    <th >Problem Name</th>
	    <th colspan="<%=@languages.length%>">Languages</th>
	    
	    <th>Results </th>
	</tr>
	</thead>
	<%@problems.each do |problem| %>
	    <tr>
		<td><%=problem.id%> </td>
		<td><%=problem.name%></td>
		<%@languages.each do |language| %>
		    <% if test_exists?(problem.id, language.id) %>
			<td>
		    <% else %>
			<td class="danger">
		    <% end %>
		    <%= link_to new_test_path(:problem_id => problem.id, :language_id => language.id), method: :get do %>
			<%=language.name.capitalize%>
			
		    <% end %>
		    </td> 

		<% end %>
		<% if result_exists?(problem.id) %>
		    <td> 
		    <% else %>
		    <td class="danger">
		<% end %>
		    <%= link_to new_result_path(:problem_id => problem.id), method: :get do %>
			Result
		    <% end %>
		</td>
	    </tr>
	<% end %>
    </table>
</div>
