<h1> Hello Test#new</h1>
<h1><%= @problem.name%></h1>
<h1><%= @language.name.capitalize%> </h1>
<p>Write the starter code for the problem here. </p>
<div class="editor" id="starter-code-editor">
    
</div>

<p>Write the test code (if applicable) here. </p>
<div class="editor" id="test-code-editor">

</div>

<%= form_tag(tests_path, :method => "post") do %>
    <%= hidden_field_tag(:problem_id, params[:problem_id])%>
    <%= hidden_field_tag(:language_id, params[:language_id])%>
    <%= hidden_field_tag(:starter_code, "")%>
    <%= hidden_field_tag(:test_code, "")%>
    <%= submit_tag("Create", :id => "submit-button", :class => "btn btn-primary")%>
<% end %>

<div class="start_code"> </div>
<div class="test_code"> </div>

<input id="language-name" type="hidden" value="<%= @language.name %>">
