<nav class="navbar navbar-default">
   
    <%= link_to root_path, :class => "navbar-brand" do %>
	Hello World
    <% end %>
    <div class="container">
	<% if !user_signed_in? %>
	    <div class="navbar-right">
		<%= link_to new_user_session_path do %>
		    <button type="button" class="btn btn-default">Log In</button>
		<% end %>
	    
		<%= link_to new_user_registration_path do %>
		    <button type="button" class="btn btn-primary">Sign Up</button>
		<% end %>
	    </div>
	<% else %>
	    
	    <div class="navbar-right">
		<%= current_user.email %>	
		<%= link_to destroy_user_session_path, :method => :delete do %>
		    <button type="button" class="btn btn-danger">Sign Out</button>
		<% end %>
		
	    </div>
	   
	<% end %>
    </div>
</nav>
