<nav class="navbar navbar-inverse">
   
    <%= link_to root_path, :class => "navbar-brand" do %>
	FizzBuzz
    <% end %>
    <div class="container-fluid">
	<!--links -->
	<ul class="nav navbar-nav">
	    <li><%= link_to "Problems", problems_path %></li>
	    <li><%= link_to "Profile"%></li>
	    <% if admin? %>
		<li> <%= link_to "Tests", tests_path%></li>
		<li> <%= link_to "FAQ", faq_path %></li>
	    <% end %>
	</ul>

	<!-- end links  -->
	<% if !user_signed_in? %>
	    <div class="navbar-right">
		<%= link_to new_user_session_path, :class => "btn btn-default" do %>
		   Log In
		<% end %>
	    
		<%= link_to new_user_registration_path, :class => "btn btn-primary" do %>
		  Sign up
		<% end %>
	    </div>
	<% else %>
	    
	    <div class="navbar-right">
		  <%= current_user.email %>	
		<%= link_to destroy_user_session_path, :method => :delete, :class => "btn btn-danger" do %>
		    Sign out
		   <% end %>
		
	    </div>
	   
	<% end %>
    </div>
</nav>

