<!DOCTYPE html>
<html>
    <head>
	<title>Cs440Project</title>
	<%= stylesheet_link_tag    'application', media: 'all' %> 

	<%= stylesheet_link_tag params[:controller] %>
	<%= javascript_include_tag 'application' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<%= javascript_include_tag params[:controller], :media => "all" if javascript_exists?(params[:controller]) %>
		
	<%= csrf_meta_tags %>
    </head>
    <body>
	<%= render 'layouts/header'%>
	<p class="notice bg-danger"><%= notice %></p>
	<p class="alert bg-danger"><%= alert %></p>
	<%= yield %>
	
    </body>
</html>
